@media (max-width: 750px) {
  %main-mob {
    width: 80%;
  }

  .content {
    @extend %main-mob;
  }

  #people {
    @extend %main-mob;

    .peopleCategory {
      h1 {
        width: 200px;
      }

      margin-left: -25%;
      padding-left: 45%;
    }
  }

  #project {
    @extend %main-mob;
  }

  #topic {
    @extend %main-mob;

    table {
      #tableHead,
      #thSpacer {
        display: none;
      }

      tr {
        display: inline-block;
        width: 100%;
      }

      td {
        display: inline-block;
        width: 95%;

        &:nth-child(1) {
          font-weight: bold;
        }
      }
    }
  }

  #research {
    @extend %main-mob;

    &Content {
      width: 100%;
    }

    li {
      width: 100%;

      p {
        max-width: 100%;
        margin-right: 0;
      }
    }
  }

  #person {
    @extend %main-mob;
    margin-left: auto;
    min-width: 0;

    .personImage {
      float: none;
      height: 200px;
      width: 200px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  footer p {
    font-size: 0.9em;
  }

  #sections {
    .section {
      width: 90%;
      margin-left: -5%;
      padding-left: 10%;
      padding-right: 20%;
      padding-top: 4em;
      padding-bottom: 4em;

      &:first-child {
        padding-top: 0;
      }
    }

    .even {
      background-color: $backGrey;
    }
  }
}
