nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $navBlack;

  h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
  }

  a {
    width: 10%;
    background-color: $navBlack;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    outline: none;
  }

  a:hover {
    background-color: $btnRed;
    text-decoration: none;
  }

  img {
    display: block;
    float: left;
    width: 8em;
  }

  #navlogo {
    display: inline-block;
    position: fixed;
    left: 0;
    padding-left: 10px;

    &:hover {
      background-color: transparent;
    }
  }

  .current {
    background-color: $btnRed;

    &:hover {
      background-color: $navBlack;
    }
  }
}

#menu-button {
  display: none;
}
