header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: $navBlack;

  img.logo {
    width: 125px;
    height: 100%;
    float: left;
    padding-left: 15px;
  }

  nav {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    ul {
      width: 100%;
      height: inherit;
      margin: 0;
      padding: 0;
      display: flex;
      align-content: center;
      justify-content: center;

      li {
        height: inherit;
        display: inline-block;
        width: 20%;
        height: 100%;
        list-style: none;

        a {
          &,
          &:visited {
            color: white;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s;
            outline: none;
            height: 100%;
            width: 100%;
            display: inline-block;
          }

          &:hover {
            background-color: $btnRed;
            text-decoration: none;
          }
        }

        a.current {
          background-color: $btnRed;

          &:hover {
            background-color: $navBlack;
          }
        }
      }
    }

    #menu-button {
      display: none;
    }
    .menu-icon {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    nav {
      width: 100%;
      height: auto;
      float: left;

      ul {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
        li {
          width: 100%;
          height: 50px;
          background-color: $navBlack;
          a {
            text-align: left;
            padding-left: 10px;
          }
        }
      }

      .menu-icon {
        width: 50px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
      #menu-button:checked ~ ul {
        max-height: 350px;
      }
      .menu-icon img {
        width: 25px;
        height: 25px;
        padding-right: 15px;
        vertical-align: middle;
      }
    }
  }
}
