nav {
  display: inline-block;
  background-color: $navBlack;
  width: 110%;
  padding-left: 20%;

  h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
  }

  a {
    display: inline-block;
    width: 14%;
    height: 5%;
    background-color: $navBlack;
    margin-top: auto;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    outline: none;
  }

  a:hover {
    background-color: $btnRed;
    text-decoration: none;
  }

  img {
    display: block;
    float: left;
    width: 8em;
  }

  #navImg {
    display: block;
    float: left;
    width: 8em;
    margin-left: -17%;
    margin-top: 5px;
    height: auto;
    text-align: initial;

    &:hover {
      background-color: transparent;
    }
  }

  .current {
    background-color: $btnRed;

    &:hover {
      background-color: $navBlack;
    }
  }
}

#menu-button {
  display: none;
}
