<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1" />
    <title>
      {% if page.layout == "person" and page.tab == null %}
      {{ page.name }}
      {% else %}
      {{ page.title }}
      {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}" />
    <script type="text/javascript" src="{{ '/assets/js/theme.js' | absolute_url }}"></script>
  </head>
  <body id="body">
    <div id="container">
      <div id="banner">
        <a href="{{ '/' | absolute_url }}">
          <img src="{{ 'assets/images/thin-logo-small.svg' | absolute_url }}" alt="WAND logo" />
        </a>
        <button onclick="toggleMenu();" id="menu-button">
          <img src="{{ 'assets/images/hamburger-menu.svg' | absolute_url }}" alt="Menu" />
        </button>
      </div>
      <nav id="navigation">
        <a id="navImg" href="{{ '/' | absolute_url }}">
          <img src="{{ 'assets/images/thin-logo-small.svg' | absolute_url }}" alt="WAND logo" />
        </a>
        {% assign linkCompare = page.url | remove: '/' %}
        {% if page.url == '/' %}
          {% assign linkCompare = '.' %}
        {% endif %}
        {% for item in site.data.navigation %}
          {% if item.drop != null %}
        <div class="dropdown">
          <a href="{{ item.link | absolute_url }}" class="navlink droplink{% if linkCompare == item.link %} current{% endif %}">
            <h6>{{ item.name }}</h6>
          </a>
          <div class="dropdown-content">
            {% assign nameCompare = item.name | downcase %}
            {% for topic in site[nameCompare] %}
            <a href="{{ topic.url | absolute_url }}">{{ topic.name }}</a>
            {% endfor %}
          </div>
        </div>
          {% else %}
        <a href="{{ item.link | absolute_url }}" class="navlink {% if linkCompare == item.link %}current{% endif %}">
          <h6>{{ item.name }}</h6>
        </a>
          {% endif %}
        {% endfor %}
      </nav>
      <script>
        clean(document.getElementById("navigation"));
      </script>
      <div id="contentContainer">{{ content }}</div>
      <footer>
        <p>{{ site.copyright }}</p>
      </footer>
    </div>
    <script>
      checkScrollBars();
    </script>
  </body>
</html>
