<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1" />
    <title>
      WAND: {% if page.layout == "person" -%}
            {{ page.name }}
            {%- else -%}
            {{ page.title }}
            {%- endif -%}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  </head>
  <body>
    <header>
      <img class="logo" src="{{ 'assets/images/thin-logo-small.svg' | relative_url }}" alt="WAND logo" />
      <nav>
        <input type="checkbox" id="menu-button">
        <label for="menu-button" class="menu-icon">
          <img src="{{ 'assets/images/hamburger-menu.svg' | relative_url }}" alt="Menu">
        </label>
        <ul>
        {% for navItem in site.data.navigation -%}
          {%- assign navPage = site.pages | where: "name", navItem.name | first -%}
        <li>
          <a href="{{ navPage.url | relative_url }}"{% if navPage.url == page.url %} class="current"{% endif %}>
            {{ navPage.title }}
          </a>
        </li>
        {% endfor -%}
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>{{ site.copyright }}</p>
    </footer>
  </body>
</html>
