---
layout: default
---

<div id="peopleInput">
  {{ content }}
</div>
<div id="people">
  {% for item in site.data.people_categories -%}
  <div class="peopleCategory">
    <h1>{{ item.name }}</h1>
    <ul>
    {%- for person in site.people -%}
      {%- if person.role == item.name %}
      <li class="person">
        <a href="{% if person.url %}{{ person.url }}
                 {%- else %}{{ person.url | relative_url }}{% endif %}">
          <img src="{% if person.photo -%}
                    {{- person.photo | prepend: 'assets/images/people/' | relative_url -}}
                    {%- else -%}
                    {{- 'assets/images/people/anonymous.png' | relative_url -}}
                    {%- endif %}"
            class="personImage"
            alt="Photo of {{ person.name }}" />
          <h4>{{ person.name }}</h4>
        </a>
      </li>
      {%- endif %}
    {%- endfor %}
    </ul>
  </div>
  {% endfor -%}
</div>
