---
layout: default
---

<div id="person">
  <h2>{{ page.name }}</h2>
  <h5>{{ page.role }}</h5>
  <img src="{% if person.photo -%}
            {{- person.photo | prepend: 'assets/images/people/' | relative_url -}}
            {%- else -%}
            {{- 'assets/images/people/anonymous.png' | relative_url -}}
            {%- endif %}"
    class="personImage"
    alt="Photo of {{ page.name }}" />
  {{ content }}
</div>
{% if page.projects -%}
  {%- assign projectsArray = page.projects | split:',' -%}
<div id="topic">
  <h3>Projects</h3>
  <table>
    <tr id="tableHead">
      <td>Name</td>
      <td>Description</td>
    </tr>
    {% for project in projectsArray %}
      {% assign project = project | strip %}
      {% assign internalProjects = site.projects | where: "name", project %}
      {% assign externalProjects = site.data.external_projects | where: "name", project %}
      {% for externalProject in externalProjects %}
    <tr>
      <td>
        <a href="{{ externalProject.url }}">{{ externalProject.name }}</a>
      </td>
      <td>{{ externalProject.description }}</td>
    </tr>
      {% endfor %}
      {% for internalProject in internalProjects %}
    <tr>
      <td>
        <a href="{{ internalProject.url | absolute_url }}"
          >{{ internalProject.name }}</a
        >
      </td>
      <td>{{ internalProject.description }}</td>
    </tr>
      {% endfor %}
    {% endfor %}
  </table>
</div>
{% endif %}
